[submodule "pro-backend-linting"]
	path = pro-backend-linting
	url = git@github.com:programic/pro-backend-linting.git
[submodule "pro-frontend-linting"]
	path = pro-frontend-linting
	url = https://github.com/programic/pro-frontend-linting
